/*debut exercice 9 hiérarchie typographique*/
.zer{
    color: rgb(47, 0, 255);
    line-height: 50px;
}


#mot{
    color: aquamarine;
    font-family:  sans-serif;
    line-height: 50px;
}

p{
    color: rgba(199, 49, 23, 0.829);
    line-height: 30px;
}
/*fin exercice 9*/