body {
  font-family: 'Roboto', sans-serif;
  h { font-weight: 700; } 
p  { font-weight: 400; } 
}
p{
  color: blue;  
  font-size: 18px;
  font-family: sans-serif;
  text-align: center;
}

h1{
    text-transform: capitalize;
    font-weight: bold;
    font-style: italic;
    letter-spacing: 1cap;
    text-shadow: transparent;
}

section p:nth-child(1) {
    text-align: left;
}

section p:nth-child(2) {
    text-align: right;
}

.section p:nth-child(3) {
    text-align: center;
    word-spacing: 10%;
}

.container{
 line-height: normal;
}

a:hover{
  text-decoration: underline ;
  color: black;
}

main{
  background-color: aqua;
  margin-top: 6%;
}
.text{
   padding: 5%;
   color: aqua;

  *{
  background-color:orange;
  border-radius: 20px;
}
  
 
h1{
  padding: 5%;
  text-align: center;
  letter-spacing: normal;
  font-style: normal;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
 h2{
  padding: 5%;
  text-align: center;
 }
 p{
  padding: 5%;
  color: blueviolet;
  text-align: center;
 }
}

div{
  padding: 5%;
  margin-top: 6%;
  background-color: blanchedalmond;
  border-radius: 2%;
  

  h1{
    text-align: center;
    letter-spacing: normal;
    color: darkgoldenrod;
  }
  h2{
    text-align: center;
    letter-spacing: normal;
    color: darkgoldenrod;
  }
  p{
  padding: 5%;
  color: blueviolet;
  text-align: center;
 }
 a:hover{
   background-color: aqua;
    transform: scale(1.05);
    bottom: auto;
    color: violet;
 }
}
